<%- include('./partials/head') %>

<main>
	<section class="cards">
		<% squad.members.forEach(member => { %>
			<article>
				<% if (member.avatar) { %>
				<img src="<%- member.avatar %>" alt="Avatar van <%= member.name %>" />
				<% } else { %>
				<img src="images/placeholder.jpg" alt="Placeholder avatar" />
				<% } %>
				<div class="info-card">
					<h2><%= member.name%> <%= member.prefix %> <%= member.surname%></h2>
					<a href="https://github.com/<%= member.gitHubHandle %>"><%- member.gitHubHandle %></a>
				</div>
			</article>
		<% }) %>
	</section>
</main>

<%- include('./partials/foot') %>
